<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sanchez.sanchez.sergio.feature_person_detail">

    <application>
        <activity
            android:name=".ui.FeaturePersonDetailActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="sanchez.sanchez.sergio.intent.action.SHOW_PERSON_DETAIL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>