<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sanchez.sanchez.sergio.feature_tv_detail">

    <application>
        <activity android:name=".ui.FeatureTvDetailActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>